.map-viewport {
  overflow: hidden;
  position: relative;
  font-size: 25px;
  font-weight: 700;
}
.map-viewport-svg {
  pointer-events: none;
  width:  100%;
  height: 100%;
  position: absolute;
}

.map-layer {
  transform-origin: 0 0;
  will-change: transform;
  transform: translate(var(--layer-x), var(--layer-y)) scale(var(--scale));
  position: absolute;
}


map-unit-stack {
  overflow: hidden;
  border-radius: 15px;
  border: var(--unit-border-width) solid var(--unit-border-color);
  width:  var(--unit-size-x);
  height: var(--unit-size-y);
  background-color: var(--background-color);
  transform: translate(var(--unit-x), var(--unit-y));
  position: absolute;
}
map-unit-stack * {
  pointer-events: none;
}
.map-unit-stack-symbol-img {
  width: 75px;
  height: 50px;
  left: 12.5%;
  top: 18%;
  /* --unit-image-url: url('./default.jpg'); */
  background-image: var(--unit-image-url, url('./default-unit.jpg'));
  position: absolute;
}
.map-unit-stack-data-count::after {
  bottom: 0;
  left: 7px;
  content: var(--unit-data-count);
  position: absolute;
}
.map-unit-stack-data-force::after {
  bottom: 0;
  right: 7px;
  content: var(--unit-data-force);
  position: absolute;
}