.map-viewport {
  overflow: hidden;
  --container-x: 0px;
  --container-y: 0px;
  --scale: 1;
}

.map-container {
  transform-origin: 0 0;
  transform: translate(var(--container-x), var(--container-y)) scale(var(--scale));
}


/* .map-unit {
  --unit-x: 0px;
  --unit-y: 0px;
  transform: translate(var(--unit-x), var(--unit-y));
}
.map-unit-symbol {

}
.map-unit-symbol-img {
  background-image: url(--unit-image-url);
}
.map-unit-data {

}
.map-unit-data-cp::after {
  content: var(--unit-data-cp);
}
.map-unit-data-mp::after {
  content: var(--unit-data-mp);
} */